<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LocalDB" providerName="System.Data.SqlClient" connectionString="pyZyWKN/ZHJU1RHhxHyBPGV6ge9v9y2gUAWIfFgRpdUkt5GIx9G59GDy4x87UIT6fMBNjAkNwcYZC4+FaXHWswFKx/KVeqZattT1R1LuNJIPjEbbDsceeH1Mn6lWQbOh" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>