<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="FreeAspHosting" providerName="System.Data.SqlClient" connectionString="Data Source=sql.freeasphost.net\MSSQL2016;Initial Catalog=psanyi89_PeopleDB;User ID=psanyi89;Password=!Psanyi19890118" />
    <add name="GearHost" providerName="System.Data.SqlClient" connectionString="Data Source=den1.mssql8.gear.host;Initial Catalog=peopledb2;User ID=peopledb2;Password=!Psanyi19890118" />
    <add name="Somee" providerName="System.Data.SqlClient" connectionString="workstation id=MainTest.mssql.somee.com;packet size=4096;user id=test432;pwd=!Test123;data source=MainTest.mssql.somee.com;persist security info=False;initial catalog=MainTest" />
    <add name="LocalDB" providerName="System.Data.SqlClient" connectionString="Data Source=SANYI\SANYISQL2017;Initial Catalog=PeopleDB;User ID=test;Password=!test123" />
    <add name="db4free.net" providerName="MySql.Data.MySqlClient" connectionString="Server=db4free.net;Database=sanyi_test;Uid=psanyi89;Pwd=!Psanyi19890118;OldGuids=True;" />
    <add name="ClearDB" providerName="MySql.Data.MySqlClient" connectionString="Server=eu-cdbr-west-02.cleardb.net;Database=heroku_2df7c22102ed826;Uid=b323acf39696ec;Pwd=ca9caa6d;OldGuids=True;" />
    <add name="GearHostMySql" providerName="MySql.Data.MySqlClient" connectionString="Server=den1.mysql3.gear.host;Uid=peopledb3;Pwd=!Psanyi19890118;OldGuids=True;" />
    <add name="HerokuPostgreSql" providerName="Npgsql" connectionString="Server=ec2-54-228-212-134.eu-west-1.compute.amazonaws.com;Port=5432;Database=d4rso4u3t715vp;User Id=twqcjvrlfnpyrg;Password=ca3ee4f8bd0d8a0608dc03ff464e6a9b7619b06c9e9788d5bf193e3cbf19e621;" />
    <add name="ElephantPostgreSql" connectionString="Host=dumbo.db.elephantsql.com;Database=oqzpxzro;Username=oqzpxzro;Password=D39DJ3W1frMysIW0AWchkCC52bZCTuH8;Persist Security Info=True" />
  </connectionStrings>
  <appSettings>
    <add key="MongoDB" value="mongodb://test:test123@ds213615.mlab.com:13615/heroku_fw50ph11" />
    <add key="MongoDBdatabase" value="heroku_fw50ph11" />
    <add key="MongoDBcollection" value="PeopleDB" />
    <add key="GearHostMongo" value="mongodb://peopledb4:!Psanyi19890118@den1.mongo1.gear.host:27001/peopledb4" />
    <add key="GearHostMongodatabase" value="peopledb4" />
    <add key="GearHostMongocollection" value="PeopleDB" />
    <add key="AtlasMongo" value="mongodb://test:!Psanyi19890118@mymongo-shard-00-00-z3slf.mongodb.net:27017,mymongo-shard-00-01-z3slf.mongodb.net:27017,mymongo-shard-00-02-z3slf.mongodb.net:27017/test?ssl=true;replicaSet=MyMongo-shard-0;authSource=admin;retryWrites=true" />
    <add key="AtlasMongodatabase" value="TestDB" />
    <add key="AtlasMongocollection" value="PeopleDB" />
    <add key="GearHostMySqlDB" value="peopledb3" />
    <add key="db4freeDB" value="sanyi_test" />
    <add key="HerokuClearDB" value="heroku_2df7c22102ed826" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>